#include "resource.h"

IDB_CARD_1 BITMAP "cards/1.bmp"
IDB_CARD_2 BITMAP "cards/2.bmp"
IDB_CARD_3 BITMAP "cards/3.bmp"
IDB_CARD_4 BITMAP "cards/4.bmp"
IDB_CARD_5 BITMAP "cards/5.bmp"
IDB_CARD_6 BITMAP "cards/6.bmp"
IDB_CARD_7 BITMAP "cards/7.bmp"
IDB_CARD_8 BITMAP "cards/8.bmp"
IDB_CARD_9 BITMAP "cards/9.bmp"
IDB_CARD_10 BITMAP "cards/10.bmp"
IDB_CARD_11 BITMAP "cards/11.bmp"
IDB_CARD_12 BITMAP "cards/12.bmp"
